Source: nextepc
Section: net
Priority: optional
Maintainer: Harald Welte <laforge@gnumonks.org>
Build-Depends: debhelper (>= 11),
               git,
               pkg-config,
               meson (>= 0.43.0),
               cmake,
               flex,
               bison,
               libgnutls28-dev,
               libgcrypt-dev,
               libssl-dev,
               libidn11-dev,
               libmongoc-dev,
               libbson-dev,
               libsctp-dev,
               libyaml-dev,
               libmicrohttpd-dev,
               libcurl4-gnutls-dev,
               libnghttp2-dev,
               libtins-dev,
               libtalloc-dev,
Standards-Version: 4.3.0
Rules-Requires-Root: no
Vcs-Browser: https://github.com/nextepc/nextepc-oss
Vcs-Git: git://github.com/nextepc/nextepc-oss

Package: nextepc-common
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: 5G Core and EPC (Shared Files)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-mme
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: MME (Mobility Management Entity)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-sgwc
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: SGW-C (Serving Gateway - Control Plane)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-smf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: SMF (Session Management Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-amf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: AMF (Access and Mobility Management Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-sgwu
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: SGW-U (Serving Gateway - User Plane)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-upf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         udev,
         nextepc-common (= ${binary:Version})
Description: UPF (User Plane Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-hss
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mongodb-org | mongodb,
         nextepc-common (= ${binary:Version})
Description: HSS (Home Subscriber Server)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-pcrf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         mongodb-org | mongodb,
         nextepc-common (= ${binary:Version})
Description: PCRF (Policy and Charging Rules Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-nrf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: NRF (Network Repository Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-scp
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: SCP (Network Repository Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-ausf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: AUSF (Authentication Server Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-udm
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: UDM (Unified Data Management)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-pcf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: PCF (Policy Control Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-nssf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: NSSF (Network Slice Selection Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-bsf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: BSF (Binding Support Function)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-udr
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nextepc-common (= ${binary:Version})
Description: UDR (Unified Data Repository)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         nextepc-common (= ${binary:Version}),
         nextepc-mme (= ${binary:Version}),
         nextepc-sgwc (= ${binary:Version}),
         nextepc-smf (= ${binary:Version}),
         nextepc-amf (= ${binary:Version}),
         nextepc-sgwu (= ${binary:Version}),
         nextepc-upf (= ${binary:Version}),
         nextepc-hss (= ${binary:Version}),
         nextepc-pcrf (= ${binary:Version}),
         nextepc-nrf (= ${binary:Version}),
         nextepc-scp (= ${binary:Version}),
         nextepc-ausf (= ${binary:Version}),
         nextepc-udm (= ${binary:Version}),
         nextepc-pcf (= ${binary:Version}),
         nextepc-nssf (= ${binary:Version}),
         nextepc-bsf (= ${binary:Version}),
         nextepc-udr (= ${binary:Version})
Description: 5GC and EPC (metapackage)
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


Package: nextepc-dbg
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         nextepc (= ${binary:Version})
Description: Debug symbols for NextEPC
 NextEPC OSS is an open source implementation of 5G Core and LTE EPC.


